<!DOCTYPE html>
<html>
    <head>
        <title>${data.title}</title>
        <link rel="stylesheet" href="/assets/css/python.angular.stack.css" />
    </head>
    <body class="login">
        <div class="wrapper">
            <img class="app-logo" src="/assets/images/pystack-logo.png" alt="PyStack - full stack python framework" />
            <form id="login-form" action="#">
                <h1>${data.text}</h1>
                <small class="message hide"></small>
                <fieldset>
                    <label>User name</label>
                    <input type="text" name="login" id="login" placeholder="user name" />
                </fieldset>
                <fieldset>
                    <label>Password</label>
                    <input type="password" name="login" id="password" placeholder="password" />
                </fieldset>
                <fieldset>
                    <input type="submit" value="sign in" id="sign-in" />
                </fieldset>
            </form>
        </div>
        <script src="/assets/js/user-services.js"></script>
        <script>
            (function () {
                let handler = new UserServices();
            }());
        </script>
    </body>
</html>
